<div id="banner">
	<div class="center">
		<div class="left">
			<h1>So you forgot your account information?</h1>
			<h2>No worries, we'll send you a new password.</h2>
		</div>
	</div>
</div>
<div id="content">
	<div id="list" class="center">
		<div class="left">
			<form action="/forgot_password" method="post" accept-charset="utf-8">
				<p><label for="email">Email Address:</label><br><input type="email" name="email"></p>
				<p><input style="float:left" type="submit" value="Submit"></p>
			</form>
		</div>
		<div class="right">
		</div>
	</div>
</div>