<div id="home-banner">
	<div class="center">
		<div class="left">
			<h1>Mailing list made easy</h1>
			<h2>
			Faster, better and created by a team that cares. <br>
			</h2>
		</div>
		<div class="right">
			<img id="homescreen" src="">
		</div>
	</div>
</div>
<div id="content">
	<div class="center">
		<div class="left">
			<div id="about" class="left">
				<h2>About HarakaMail</h2>
				<p>HarakaMail is a Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div id="featured" class="right">
				<h2>Featured Mailing List</h2>
				<ul>
					<% for each feature in featured %>
					<li>
						<h3><a href="/list/groupname"><% feature.subject %></a></h3>
						<p><% feature.body %></p>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="right">
			<h2>Create your own mailing list</h2>
			<form action="/register" method="post" accept-charset="utf-8">
				<p><label for="name">List Name:</label><br><input type="text" name="name"></p>
				<p><label for="email">Email Address:</label><br><input type="email" name="email"></p>
				<p><label for="password">Password:</label><br><input type="password" name="password"></p>
				<p><input type="submit" value="Create"></p>
			</form>
		</div>
	</div>
</div>