<div id="banner">
	<div class="center">
		<div class="left">
			<h1><a href="/list/<% list %>"><% list %></a></h1>
		</div>
	</div>
</div>
<div id="content">
	<div id="list" class="center">
		<div class="left">
			<ul>
				<% for each item in archive %>
				<li>
					<h2><a href="/list/example/message/1234"><% item.subject %></a></h2>
					<p><% item.body %></p>
				</li>
				<% end %>
			</ul>
		</div>
		<div class="right">
			<h2>Join&nbsp;<% list %></h2>
			<form action="/list/<% list %>/join" method="post" accept-charset="utf-8">
				<p><label for="first_name">First Name:</label><br><input type="text" name="first_name"></p>
				<p><label for="last_name">Last Name:</label><br><input type="text" name="last_name"></p>
				<p><label for="email">Email Address:</label><br><input type="email" name="email"></p>
				<p><input type="submit" value="Submit"></p>
			</form>
		</div>
	</div>
</div>